streamlit
numpy
scipy
matplotlib
librosa
soundfile
numba
cffi
audioread
decorator
joblib
lazy_loader
msgpack
packaging
Pillow
pooch
pycparser
scikit-learn
soxr
threadpoolctl
typing_extensions
